#сюда чисто из апишки супабейса 

VITE_SUPABASE_URL=https://dmfmhbzskzvhnihkucdh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtZm1oYnpza3p2aG5paGt1Y2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMzM1MTAsImV4cCI6MjA5ODkwOTUxMH0.d13aubrOn2vxvjWkcG7AzyPbge2HUToF0zx8u19jmXM
